# Путь к папке с классами (относительно ml/ или абсолютный)
DATASET_PATH=../Dental OPG XRAY Dataset/Dental OPG (Classification)
OUTPUT_PATH=./training/output

EPOCHS=15
BATCH_SIZE=16
IMAGE_SIZE=224
LEARNING_RATE=0.001
VAL_RATIO=0.2
NUM_WORKERS=0
SEED=42
